REGISTER_SECRETKEY= # Register User Secret Key
SUPERUSER_USERNAME= # Superuser Username
SUPERUSER_NAME= # Superuser Name
SUPERUSER_PASSWORD= # Superuser Password
NGROK_ENABLED= # Enable or Disable Ngrok (y/n)